<main class="p-5">
    <section class="text-justify pb-5">
        <div class="title mb-5 flex justify-between" id="profile">
            <div class="flex flex-col gap-2">
                <h1 class="text-2xl font-bold"><%= @post.title %></h1>
                <p>Oleh: <%= @post.user.username %></p>
            </div>
            <%= button_to 'Kembali', admin_posts_path, class: "text-sm font-semibold text-white py-2 px-3 bg-orange-400 hover:bg-orange-300", method: :get%>
        </div>

        <div class="wrapper flex flex-wrap justify-between gap-5">
            <div class="w-full md:max-w-2xl">
                <div class="field">
                    <%= @post.content %>
                </div>

                <div class="action flex gap-3 justify-center mt-5">
                    <%= button_to 'Hapus', admin_post_path(@post), class: "w-32 text-sm font-semibold text-white py-2 px-3 bg-red-400 hover:bg-red-300", method: :delete, data: { confirm: "Apakah anda yakin ingin menghapus tiket ini?" } %>
                    <%= button_to 'Edit', edit_admin_post_path(@post), class: "w-32 text-sm font-semibold text-white py-2 px-3 bg-green-400 hover:bg-green-300", method: :get%>
                </div>
            </div>

            <div class="w-full max-w-sm flex flex-col gap-3">
                <div>
                    <p class="text-lg font-bold text-orange-500 mb-5">Informasi Lainnya</p>
                    <div class="flex flex-col gap-2 text-sm">
                        <% @posts.each do |post| %>
                            <div class="flex flex-col gap-2">
                                <p class="font-bold"><%= post.title %></p>
                                <p>Oleh: <%= post.user.username %></p>
                                <p><%= post.content.to_plain_text.truncate(100) %> <%= link_to 'lanjutkan', admin_post_path(post), class: "underline text-orange-500" %></p>
                            </div>
                            <hr>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>