<main class="p-5">
    <section class="mx-auto max-w-screen-xl text-justify pb-5">
        <div class="title text-2xl font-bold mb-5 flex justify-between" id="profile">
            <h1>Edit Tiket</h1>
            <%= button_to 'Kembali', admin_tickets_path, class: "text-sm font-semibold text-white py-2 px-3 bg-orange-400 hover:bg-orange-300", method: :get%>
        </div>

        <div class="form max-w-lg">
            <%= form_with(model: @ticket, url: admin_ticket_path(@ticket.id), class: "flex flex-col gap-3") do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="flex flex-col gap-2">
                    <%= f.label :image, 'Gambar Tiket' %>
                    <%= f.file_field :image %>
                </div>
                <div class="flex flex-col gap-2">
                    <%= f.label :name, 'Nama Tiket' %>
                    <%= f.text_field :name, placeholder: "Contoh: Tiket Parkir" %>
                </div>
                <div class="flex flex-col gap-2">
                    <%= f.label :price, 'Harga Tiket' %>
                    <%= f.text_field :price, placeholder: "Contoh: 10000", autocomplete: false %>
                </div>
                <div class="flex flex-col gap-2">
                    <%= f.label :short_description, 'Deskripsi Singkat' %>
                    <%= f.text_field :short_description, placeholder: "Contoh: Tiket parkir untuk 1 kendaraan beroda 1", autocomplete: false %>
                </div>
                <div class="flex flex-col gap-2">
                    <%= f.label :description, 'Deskripsi Lengkap' %>
                    <%= f.text_area :description, placeholder: "Masukkan deskripsi selengkap-lengkapnya", autocomplete: false %>
                </div>
                <div><%= f.submit "Simpan", class: "py-2 font-semibold text-white text-center bg-orange-400 hover:cursor-pointer hover:bg-orange-300 w-full" %></div>
            <% end %>
        </div>
    </section>
</main>